<html>
<body>

<p>I recently had the opportunity to build a site with Vue.js.<p>

<p>Vue.js is a javascript framework for building reactive web sites. I picked it for academicjobs.uchicago.edu because the requirements could be covered by this client-side framework, and quickly. </p>

<p>Academicjobs.uchicago.edu has only three pages, the data is read-only, and there are some reactive behaviors like incremental search and faceting. Vue.js is used to manipulate the DOM quickly based on events, so this is a good fit.</p>

<p>You use Vue directives inside of regular HTML tags which are ties to methods in your javascript. A simple example at https://vuejs.org/v2/guide/#Handling-User-Input shows a lot of reactive behavior:</p>

<ul>
  <li>The div ID ties this DOM element to the Vue object code. </li>
  <li>The message variable in the template is bound to data in the Vue object. </li>
  <li>The click event is tied to the reverseMessage function.</li>
  <li>The reverseMessage function changes the value of message, which triggers a re-rendering of the DOM element.</li>
</ul>

<p>Vue.js has conditional and loop directives as well.</p>

<p>Vue.js is easy to learn, and you can take it as far as you want to go. You can sprinkle it into an existing site for just a small reactive element, or you can build an entire app with its build tools. </p>

<p>How does academicjobs.uchicago.edu work? As soon as the page is created, data is fetched from the Solr backend.<p>

<p>Components and elements for results, facets, and the pager are bound to the results data and react to it. With every change to bound data, a component or element re-renders itself. E.g., you see all positions at first, and they drop off as you type letters in the search box.</p>

<p>In this app, all events either change the search results, or take you to a different view (home page, detail page).</p>

<p>Results list component in DOM:<br/>
	<textarea><results-list
	v-for="doc in results.response.docs"
	:doc="doc"
	:key="doc.id"
></results-list></textarea>
</p>
  
<p>Template for results list component:
	<textarea><script type="text/x-template" id="results-list-template">
<div class="card position">
	<div class="card-body">
		<router-link class="card-link" :aria-label="doc.name+'; '+units" tag="a" :to="{ name: 'detail', params: { id: doc.id } }">
			<h2>{{ doc.name }}&nbsp;<i class="fas fa-angle-right" aria-hidden="true"></i></h2>
			<p>
				<span class="unit" v-if="units">{{ units }}</span>
				<span class="loc" v-if="doc.location"><br><i class="fas fa-map-pin"></i> {{ doc.location }}</span>
			</p>

			<p class="date">
				<span v-if="doc.open_date"><i class="far fa-calendar-alt"></i> {{ doc.open_date }}</span><span v-if="doc.deadline"> – <i class="far fa-calendar-times"></i> {{ doc.deadline }}</span>
			</p>
			<p v-if="desc">{{ desc }}</p>
		</router-link>
	</div>
</div>
</script></textarea>
</p>

<p>Js for results list component:
	[https://ws-git.uchicago.edu/atlassian-bitbucket/projects/AJB/repos/webapp/browse/webapp/js/src/app.js#104]
</p>

<p>To organize your code and reuse repeatable elements, you can build out the functionality into components.</p>

<p>Component organization is up to you. I have everything in one file large html file, and it's not ideal: all the code for own component is spread all over the place.</p>

<p>I think academicjobs.uchicago.edu is ready to be moved to a build tool, which is the recommended way to build more complex apps. Components are each coded in their own .vue file. Each file contains the HTML template, javascript code, and CSS. The build tool will convert all your components into a single javascript file. See https://vuejs.org/v2/guide/single-file-components.html for information.</p>

<p>One more thing: The documentation on the Vuejs site is excellent and thorough. And there are several video series on lynda.com for it. </p> 
  
  
</body>
</html>
